.editor {
  width: 600px;
  margin: 30px auto;
}

.zona-drop {
  position: absolute;
  inset: 0;
  z-index: 0;
}

/* .visor {
  position: relative;

  width: 500px;
  height: 500px;

  border: 2px solid #ccc;

  overflow: hidden;
} */

/* ========================= */
/* PANEL ACCESORIOS */
/* ========================= */

.panel-accesorios {

  width: 180px;

  border: 1px solid #ccc;

  padding: 15px;

}

.lista-accesorios {

  display: flex;

  flex-direction: column;

  gap: 15px;

}


.accesorio {

  border: 1px solid #ccc;

  padding: 10px;

  cursor: grab;

  background: white;

  text-align: center;

}


.accesorio img {

  width: 100px;

  height: 70px;

  object-fit: contain;

}


.accesorio span {

  display: block;

  margin-top: 5px;

}

/*MACETA*/
.visor {
  position: relative;
  width: 600px;
  max-width: 100%;
  overflow: hidden;
}

.maceta {
  display: block;
  width: 100%;
  height: auto;
}

/*LENTES */

.lentes {
  position: absolute;
  width: 100px;
  height: 90px;

  z-index: 10;

  cursor: move;
}


.lentes img {
  width: 100%;
  height: 100%;

  display: block;

  pointer-events: none;
}

.lentes canvas {
  width: 100%;
  display: block;
}


.informacion {
  margin-top: 20px;
}

button {
  margin-top: 10px;

  padding: 10px 20px;

  cursor: pointer;
}


/*=========================*/
/*ACCESORIO COLOCADO*/
/*=========================*/


.accesorio-colocado {
  position: absolute;
  cursor: grab;
  touch-action: none;
  /* necesario para arrastrar con el dedo */
  user-select: none;
  pointer-events: auto;
}


.accesorio-colocado img {
  display: block;
  width: 100%;
  height: auto;
}

.accesorio-deshabilitado {
  opacity: 0.4;
  cursor: not-allowed;
}


/*.accesorio-colocado:active{
  cursor: grabbing;
}*/

.preview-accesorio {
  display: block;
  object-fit: contain;
  background: transparent !important;
}

.cdk-drag-preview {
  background: transparent !important;
  box-shadow: none !important;
}

.drag-placeholder {
  height: 120px;
  border: 1px dashed #ccc;
  background: transparent;
}

.preview-transparente {
  background: transparent !important;
  box-shadow: none !important;
}

.cdk-drag-placeholder {
  opacity: 0 !important;
  visibility: hidden !important;
  background: transparent !important;
}

.capa-accesorios {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}